$success-100: #117865;
$success-50: #CAEAD8;

$primary-100: #1da1f2;
$primary-50: #EFF6FC;

$acent-100: #4267b2;
$acent-50: #6489c4;

$warning-100: #F2C811;
$warning-50: #FEFDF5;

$danger-100: #de4545;
$danger-50: #ff6767;

$dark-100: #444444;
$dark-50: #666666;

$secondary-100: #E1E1E1;
$secondary-50: #F2F2F2;


$white: #fff;


