




<app-toast></app-toast>
<!--<app-form></app-form>-->

<main class="main">
  <aside class="board-sidebar" >

    <div class="logo-container">
      <h2 class="board-logo">{{ 'common.title' | translate }}</h2>
      <app-language-toggle-button></app-language-toggle-button>
    </div>
    
    <div class="board-wrapper">
      <app-accordion class="accordion-body"></app-accordion>
    </div>
    <div class="board-button-wrapper">
      <button *ngIf="status === 'ok'"
              type="button"
              class="btn btn-primary w-100"
              (click)="onForm('project')">
        Add project
      </button>
    </div>
  </aside>

  <div class="board-details-wrapper">
    <!--<app-board-details *ngIf="status === 'ok'">
      <app-mobile-navigation></app-mobile-navigation>
    </app-board-details>-->

    <div class="loading-wrapper" *ngIf="status === 'loading'">
      <img src="../../assets/fan-solid.svg" alt="fan" class="loading-spinner" />
      <p>Loading...</p>
    </div>
    <div class="loading-wrapper" *ngIf="status === 'error'">
      <h2>Something went wrong! Try later!</h2>
    </div>
  </div>
</main>


