app-language-toggle-button {
  position: relative;
  z-index: 100;
}

.toggle-button {
  margin: 0.5rem 1rem 0.5rem 0.5rem;


  .checkbox {
    opacity: 0;
    position: absolute;
    box-shadow: $shadow-20;

    &:checked + .checkbox-label .ball {
      transform: translateX(2.25rem);
    }
  }

  .checkbox-label {
    background-color: $secondary-light;
    width: 5rem;
    height: 3rem;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $acent;

    .ball {
      background-color: $primary;
      width: 2.25rem;
      height: 2.25rem;
      position: absolute;
      border-radius: 50%;
      transition: transform 0.2s linear;
      color: $acent;

      &:hover {
        box-shadow: 0 0 0 0.25rem rgba($primary, 0.5);
      }
    }

    .shortcut {
      font-size: 1.2rem;
      padding: 0.5rem;
      color: $light;
    }
  }
}


