app-language-toggle-button {
  position: relative;
  z-index: 100;
}

.toggle-button {
  margin: 0.5rem;
  display: flex;
  justify-content: end;

  .checkbox {
    opacity: 0;
    position: absolute;
    box-shadow: $shadow-20;
    box-shadow: 0 0 0 0.1rem rgba($primary, 0.5);

    &:checked + .checkbox-label .ball {
      transform: translateX(1.2rem);
    }
  }

  .checkbox-label {
    background-color: $secondary-light;
    width: 3.5rem;
    height: 2rem;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $acent;
    transition: box-shadow 0.2s;

    &:hover {
      box-shadow: 0 0 0 0.1rem rgba($dark, 0.5);

      .ball {
        box-shadow: 0 0 0 0.1rem rgba($light, 0.5);
      }
    }

    .ball {
      background-color: $primary;
      width: 1.7rem;
      height: 1.7rem;
      position: absolute;
      border-radius: 50%;
      transition: transform 0.2s linear, box-shadow 0.2s;
      color: $acent;
    }

    .shortcut {
      font-size: 0.75rem;
      padding: 0.1rem;
      color: $light;
    }
  }
}


