<div class="auth-layout-wrapper">

  <app-form-header [title]="'auth.resetpassword.changeyourpassword' | translate">
  </app-form-header>

  <form [formGroup]="formGroup"
        (ngSubmit)="onSubmit(formGroup.value)">

    <app-form-validation-message [formStatus]="status"
                                 [errorMessage]="errorMessage"></app-form-validation-message>

    <!--Password-->
    <div class="form-group">
      <label class="form-label">Hasło</label>
      <input class="form-control"
             type="password"
             id="password"
             formControlName="password"
             placeholder="{{ 'common.password' | translate }}"
             autocomplete="off" />
    </div>
    <app-input-validation [control]="formGroup.getControl('password')"></app-input-validation>

    <!--Confiorm Password-->
    <div class="form-group">
      <label class="form-label">Hasło</label>
      <input class="form-control"
             type="password"
             placeholder="{{ 'common.confirmpassword' | translate }}"
             id="confirm-password"
             formControlName="confirmPassword"
             autocomplete="off" />
    </div>
    <app-input-validation [control]="formGroup.getControl('confirmPassword')"></app-input-validation>

    <div class="btn-container">
      <button class="button button-primary">
        {{ 'auth.resetpassword.changepassword' | translate}}
      </button>
    </div>

  </form>
</div>






