<div class="wrapper">
  <div class="title-text">
    <div class="title">{{ 'auth.resetpassword.changeyourpassword' | translate }}</div>
  </div>

  <div class="form-container">
    <div class="form-inner">
      <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)">

        <span class="form-error-message"
              *ngIf="status === 'error'"
              [innerHTML]="errorMessage">
        </span>

        <div class="field">
          <input class="form-input"
                 type="password"
                 id="password"
                 formControlName="password"
                 placeholder="{{ 'common.password' | translate }}"
                 autocomplete="off"
                 [ngClass]="{
                  error: formControls.password.invalid && formControls.password.touched
                }" />
          <span class="form-invalid-message"
                *ngIf="formControls.password.invalid && formControls.password.touched && passwordLength !== 0">
            {{ 'auth.passwordshouldheaveCharacters' | translate }}
          </span>
          <span class="form-invalid-message"
                *ngIf="passwordLength === 0 && formControls.password.touched">
            {{ 'auth.passwordisrequired' | translate }}
          </span>
        </div>

        <div class="field">
          <input class="form-input"
                 type="password"
                 placeholder="{{ 'common.confirmpassword' | translate }}"
                 id="confirm-password"
                 formControlName="confirmPassword"
                 autocomplete="off"
                 [ngClass]="{
          error:
            formControls.confirmPassword.invalid && formControls.confirmPassword.touched
          }" />
          <span class="input-invalid-message"
                *ngIf="confirmPasswordLength === 0 && formControls.confirmPassword.touched">
            {{ 'auth.passwordconfirmisrequired' | translate }}
          </span>
          <span class="input-invalid-message"
                *ngIf="formControls.confirmPassword.touched && formControls.confirmPassword.errors?.['passwordMismatch']">
            {{ 'auth.passwordsdonotmetch' | translate }}
          </span>
        </div>

        <div class="btn-wrapper" style="margin-top: 1rem;">
          <button class="btn btn-primary w-100" type="submit">
            {{ 'auth.resetpassword.changepassword' | translate}}
          </button>
        </div>


      </form>
    </div>
  </div>
</div>





