<div class="home-layout">
  <h1 class="home-layout__header">
    Company Manager
  </h1>

  <p class="home-layout__description">
    Zacznij zarządzać pracą swojego zespołu w bardziej
    ekeftywny sposób przy pomocy naszego systemu.
  </p>

  <div class="btn-container">
    <button class="button button-primary"
            type="button"
            [routerLink]="'/auth/login'">
      Zaloguj się
    </button>
    <button class="button button-secondary"
            type="button"
            [routerLink]="'/auth/register'">
      Zarejestruj się
    </button>
  </div>
</div>


