<div class="wrapper">
  <div class="title-text">
    <div class="title">{{ 'auth.forgotpassword.passwordreset' | translate }}</div>
    <span class="description">{{ 'auth.forgotpassword.resetyourpassword' | translate }}</span>
  </div>

  <div class="form-container">
    <div class="form-inner">

      <form class="form"
            [formGroup]="forgotPasswordForm"
            (ngSubmit)="onSubmit(forgotPasswordForm.value)">

        <!--<span class="form-error"
        *ngIf="status === 'error'"
        [innerHTML]="errorMessage">
  </span>-->
        <!--EMAIL-->
        <div class="field">
          <input type="email"
                 id="email"
                 name="email"
                 placeholder="{{ 'common.email' | translate }}"
                 formControlName="email"
                 [ngClass]="{
            error: formControls.email.invalid && formControls.email.touched
          }">

          <p class="input-invalid-message"
             *ngIf="formControls.email.invalid && formControls.email.touched">
            {{ 'auth.pleaseprovidevalidemail' | translate }}
          </p>
        </div>

        <div class="btn-wrapper" style="margin-top: 1rem;">
          <button class="btn btn-primary w-100">
            {{ 'auth.forgotpassword.sendemail' | translate }}
          </button>
        </div>

        <div class="signup-link link-acent">
          <p style="margin-right: 0.5rem; margin-bottom: 0">{{ 'auth.register.haveaccount' | translate }}</p>
          <a [routerLink]="'/auth/login'">{{ 'auth.register.signin' | translate }}</a>
        </div>
        <div class="signup-link link-acent" >
          <p style="margin-right:0.5rem; margin-bottom: 0;">Not a member?</p>
          <a [routerLink]="'/auth/register'">{{ 'auth.login.registernow' | translate }}</a>
        </div>

      </form>

    </div>
  </div>
</div>


