
<div class="auth-layout-wrapper">

  <app-form-header [title]="'auth.forgotpassword.passwordreset' | translate"
                   [subTitle]="'auth.forgotpassword.resetyourpassword' | translate"></app-form-header>

  <form [formGroup]="formGroup"
        (ngSubmit)="onSubmit()">


    <!--EMAIL-->
    <div class="form-group">
      <input class="form-control"
             type="email"
             id="email"
             name="email"
             placeholder="{{ 'common.email' | translate }}"
             formControlName="email" />
    </div>
    <app-input-validation [control]="formGroup.getControl('email')"></app-input-validation>

    <div class="btn-container">
      <button class="button button-primary" [disabled]="!isFormValid()">
        {{ 'auth.forgotpassword.sendemail' | translate }}
      </button>
    </div>


    <div class="row my-1">
      <p>Jeśli masz juz konto: </p>
      <div class="link-primary">
        <a [routerLink]="'/auth/login'">{{ 'auth.register.signin' | translate }}</a>
      </div>
    </div>

    <div class="row my-1">
      <p>Jeśli nie masz konta: </p>
      <div class="link-primary">
        <a [routerLink]="'/auth/register'">{{ 'auth.login.registernow' | translate }}</a>
      </div>
    </div>

  </form>


</div>








