<div class="collapse-btn-wrapper">
  <button type="button"
          class="collapse-btn__btn "
          (click)="toggleShowContent()">

    <img [@rotateState]="!showContent ? 'default' : 'rotated'"
         class="collapse-button-image"
         src="../../../assets/arrow-down-short.svg"
         alt="" />
    <div class="collapse-button-title">
      {{ project.title }}
    </div>
    

  </button>

  <app-context-menu *ngIf="(loggedInUserId$ | async) === project.userId"
                    [id]="project.id"
                    [type]="'project'"
                    [editingProject]="project"></app-context-menu>
</div>

<p *ngIf="project === undefined">No projects</p>
