<div class="accordion-item__main">
  <app-collapse-button [project]="project"
                       (toggleMenu)="toggleShowContent($event)"
                       [showContent]="showContent"></app-collapse-button>

 
  <ul class="accordion-item__list " [ngClass]="{ show__item: showContent }">
    <li *ngFor="let board of boards">

     
        <!--BOARD TITLE-->
        <div class="accordion-item"
             [ngClass]="{ highlight: (selectedBoardId$ | async) === board.id }"
             (click)="onSelectBoard(board)">
          <div class="accordion-item__title">{{ board.name }}</div>
          <!--MENU CONTEXT-->
          <app-context-menu *ngIf="(loggedInUserId$ | async) === project.ownerID.toUpperCase()"
                            [id]="board.id"
                            [type]="'board'"
                            [editingProject]="project"
                            class="margin-right: 0.25rem;"
                            [theme]="'secondary'">
          </app-context-menu>
        </div>

    </li>
    <p class="accordion-item-paragraph"
       *ngIf="project.boards?.length === 0">
      No boards
    </p>
  </ul>
</div>

