

<div class="wrapper">

  <div class="title-text">
    <div class="title">{{ 'auth.login.signintoyouraccount' | translate }}</div>
    <span class="description">{{ 'auth.login.welcomeback' | translate  }}</span>
  </div>
  <div class="form-container">
    <div class="form-inner">
      <form class="form"
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit(loginForm.value)">

        <span class="form-error"
              *ngIf="status === 'error'"
              [innerHTML]="errorMessage">
        </span>

        <!--EMAIL-->
        <div class="field">
          <input type="email"
                 id="email"
                 name="email"
                 placeholder="{{ 'common.email' | translate }}"
                 formControlName="email"
                 [ngClass]="{
                    error: formControls.email.invalid && formControls.email.touched
                  }">

          <p class="input-invalid-message"
             *ngIf="formControls.email.invalid && formControls.email.touched">
            {{ 'auth.pleaseprovidevalidemail' | translate }}
          </p>
        </div>

        <!--PASSWORD-->
        <div class="field">
          <input class="form-input"
                 type="password"
                 id="password"
                 name="password"
                 autocomplete="off"
                 placeholder="{{ 'common.password' | translate }}"
                 [ngClass]="{
                    error: formControls.password.invalid && formControls.password.touched
                   }"
                 formControlName="password" />

          <p class="input-invalid-message"
             *ngIf="formControls.password.invalid && formControls.password.touched">
            {{ 'auth.passwordshouldheaveCharacters' | translate }}
          </p>
        </div>
        <div class="pass-link link-acent">
          <a [routerLink]="'/auth/forgotpassword'">{{ 'auth.login.forgotpassword' | translate }}</a>
        </div>
        <div class="btn-wrapper">
          <button class="btn btn-primary w-100">
            {{ 'auth.login.login' | translate }}
          </button>
        </div>
        <div class="signup-link link-acent">
          Not a member?
          <a [routerLink]="'/auth/register'">{{ 'auth.login.registernow' | translate }}</a>
        </div>
      </form>
    </div>
  </div>
</div>



