<div class="context-menu-backdrop"
     (click)="onToggle('')"
     *ngIf="openedContextMenuOfElementId.length !== 0">
</div>

<div class="context-menu-container">
  
  <button type="button" class="button button-primary w-100"
          (click)="onToggle(id)">
    MENU
  </button>


  <div class="context-menu-body"
       [ngClass]="{ show: openedContextMenuOfElementId.length !== 0 }"
       *ngIf="openedContextMenuOfElementId === id">

    <app-close-btn-rounded (onClose)="onToggle('')"
                           position="right">
    </app-close-btn-rounded>

    <div class="container">
      <div class="btn-container">
        <button type="button" class="button small button-danger" (click)="delete()">
          Remove
          <i class="fa-solid fa-trash-can fa-lg"></i>
        </button>
        <button type="button" class="button small button-primary" (click)="edit()">
          Edit
          <i class="fa-solid fa-square-pen fa-lg"></i>
        </button>

      </div>
    </div>
    
    
  </div>
</div>

