
/*@import "stylesheets/buttons/buttons.style.css";
@import "stylesheets/buttons/layout.style.css";
@import "stylesheets/buttons/colors.style.css";


*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--secondary);
  color: var(--font-color);
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

:root {
  --primary: var(--cyan);
  --neon: #e8fe93;
  --secondary: #6c757d;
  --success: #198754;
  --info: var(--cyan);
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;*/
  /**/
  /*--primary-dark: #1b86b2;
  --neon-dark: #d1e87f;
  --secondary-dark: #5c636a;
  --success-dark: #157347;
  --info-dark: #31d2f2;
  --warning-dark: #ffca2c;
  --danger-dark: #bb2d3b;
  --lighter-dark: #d3d4d5;
  --dark-dark: #424649;*/
  /**/
  /*--light: #f8f9fa;
  --dark: #343a40;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --white: #ffffff;
  --gray: #6c757d;
  --gray-dark: #343a40;*/
  /*   Odcienie dla Blue */
  /*--blue-lighter: #b3d7ff;
  --blue-light: #66afff;
  --blue-dark: #0056b3;
  --blue-darker: #004080;*/
  /*   Odcienie dla Indigo */
  /*--indigo-lighter: #b399f2;
  --indigo-light: #9933f2;
  --indigo-dark: #4c09b2;
  --indigo-darker: #33007a;*/
  /*   Odcienie dla Purple */
  /*--purple-lighter: #b3a2d1;
  --purple-light: #8c66b3;
  --purple-dark: #502880;
  --purple-darker: #381d59;*/
  /*   Odcienie dla Pink */
  /*--pink-lighter: #f5b3d5;
  --pink-light: #f26699;
  --pink-dark: #b21d5e;
  --pink-darker: #781242;*/
  /*  Odcienie dla Red */
  /*--red-lighter: #f5b3b7;
  --red-light: #f2666a;
  --red-dark: #b21d28;
  --red-darker: #781211;*/
  /*   Odcienie dla Orange */
  /*--orange-lighter: #ffb3a6;
  --orange-light: #ff8533;
  --orange-dark: #b2590a;
  --orange-darker: #783c07;*/
  /*   Odcienie dla Yellow */
  /*--yellow-lighter: #ffecb3;
  --yellow-light: #ffd633;
  --yellow-dark: #b29400;
  --yellow-darker: #785600;*/
  /* Odcienie dla Green */
  /*--green-lighter: #aef5bf;
  --green-light: #53e882;
  --green-dark: #1b8820;
  --green-darker: #125813;*/
  /*   Odcienie dla Teal */
  /*--teal-lighter: #a2f5e1;
  --teal-light: #53e8c0;
  --teal-dark: #1b8857;
  --teal-darker: #125839;*/
  /*   Odcienie dla Cyan */

  /*--cyan-lighter: #a2eef5;
  --cyan-light: #53d8e8;
  --cyan: #17a2b8;
  --cyan-dark: #1b86b2;
  --cyan-darker: #12567d;
}





.home-change-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0.25rem 0.5rem 1rem;
  color: var(--secondary-color);
  font-weight: 700;
}

.forgot-link {
  color: white;
}

     
.overlay {
  position: absolute;
  z-index: 100;
}

.form {
  width: 250px;
}

.form-button {
  margin-top: 2rem;
  width: 100%;
}

.form-button:hover {
  opacity: 0.7;
}

.form-label {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.form-input {
  padding: 0.25rem 0.5rem;
  border-radius: var(--rounded);
  font-size: 1.1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  font-family: 'Oswald', sans-serif;
  border: 3px solid transparent;
}

.error {
  border: 3px solid var(--danger);
  color: var(--danger);
  width: 100%;
}

.form-invalid-message {
  color: var(--danger);
}

.form-error-message {
  margin-top: 1rem;
}

@media (min-width: 548px) {
  .form {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .form {
    width: 450px;
  }
}

@media (min-width: 1024px) {
  .form {
    width: 400px;
  }
}

.home-heading {
  margin-bottom: 2rem;
}

.home-heading h2 {
  font-size: 2rem;
}

.home-change {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}*/




