
.forms-container {
  $margin: 1rem;

  border-radius: 1rem;
  margin: $margin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - $margin * 2);
  box-shadow: $shadow-10;
  background-color: $light;

  .form-wrapper {
    position: relative;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 22.5rem;
    height: 100vh;
    overflow-y: auto;

    .form-wrapper__close-button {
        background-color: green;
        position: relative;
        right: 11.5rem;
    }
  }
}
